extends ./layout.jade

block header
	h1 Peckham Legend, Man About Canavan's
	p Terry Council Bollocks: the phrase machine.

block main
	.soundboard
		each item in soundboardItems
			.soundboard-item(data-id="#{item.id}", data-src="audio/#{item.src}")= item.text