extends ./layout.jade

block header
	img.banner-image(src="/images/header1.png")
	.banner-header
		h1.banner-header-title Peckham Legend, Man About Canavan's
		p.banner-header-subtitle Terry Council Bollocks: the phrase machine.

block main
	.soundboard
		each item in soundboardItems
			a.soundboard-item(data-id="#{item.src}", data-src="audio/#{item.src}")= item.text