extends ./layout.jade


block header
	img.banner-image(src="/images/header1.png")
	.banner-header
		h1.banner-header-title Peckham Legend, Man About Canavan's
		p.banner-header-subtitle Terry Council Bollocks: the phrase machine.

block main
	include ./soundboard/soundboard.jade				
