extends ./layout.jade

block header
	h1 Terry
	p Peckham legend, man about Canavan's

block main
	.soundboard
		each item in soundboardItems
			.soundboard-item(data-id="#{item.id}", data-src="audio/#{item.src}")= item.text