* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 20px;
  color: #eeeeee;
}
body {
  background-color: #111111;
}
h1 {
  font-size: 5rem;
}
header {
  margin-bottom: 2em;
  background-size: cover;
  background-image: url("../public/images/header-image.jpg");
}
header h1 {
  font-size: 3rem;
}
header h1,
header p {
  text-align: center;
}
footer {
  padding: 1em 0;
  text-align: center;
  clear: both;
  background-color: #aaaaaa;
}
.soundboard {
  padding: 0 0.5em;
  display: flex;
  flex-wrap: wrap;
}
.soundboard-item {
  width: 50%;
  padding-bottom: 1em;
  text-align: center;
}
.soundboard-item:hover {
  text-decoration: underline;
  cursor: pointer;
}
