* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html {
  font-size: 20px;
  color: #ffffff;
}
body {
  background-color: #111111;
}
h1 {
  font-size: 2rem;
}
.banner {
  text-align: center;
  margin-top: 1em;
}
.banner .banner-image {
  width: 15em;
  height: 15em;
}
.banner .banner-header {
  margin-top: 1em;
  background: #ffffff;
  color: #111111;
  padding: 0.5em;
  border-bottom: 0.5em solid;
  border-top: 0.5em solid;
  border-color: #13ff13;
}
.main {
  margin-top: 1em;
}
.footer {
  margin-top: 1em;
  padding: 1em 0;
  text-align: center;
  clear: both;
  background-color: #ffffff;
  color: #111111;
  border-top: 0.5em solid #13ff13;
}
.soundboard {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.soundboard-item {
  width: 50%;
  padding: 0.5em;
  text-align: center;
  -webkit-align-self: center;
  align-self: center;
}
@media screen and (min-width: 24em) {
  .soundboard-item {
    width: 33%;
  }
}
@media screen and (min-width: 46.8em) {
  .soundboard-item {
    width: 25%;
  }
}
.soundboard-item:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #13ff13;
}
