* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 20px;
  color: #eeeeee;
}
body {
  background-color: #111111;
}
h1 {
  font-size: 2rem;
}
.banner {
  text-align: center;
  padding: 1em 0;
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 1em;
}
.banner .banner-image {
  width: 15em;
}
.banner .banner-header {
  margin-bottom: 0.25em;
}
.banner .banner-header,
.banner .banner-subtitle {
  margin: 0 0.5em;
}
.footer {
  margin-top: 1em;
  padding: 1em 0;
  text-align: center;
  clear: both;
  background-color: #696969;
  color: #111111;
}
.soundboard {
  padding: 0 0.5em;
  display: flex;
  flex-wrap: wrap;
}
.soundboard-item {
  width: 50%;
  padding: 0.25em;
  text-align: center;
}
@media screen and (min-width: 24em) {
  .soundboard-item {
    width: 33%;
    padding: 0.5em;
  }
}
.soundboard-item:hover {
  text-decoration: underline;
  cursor: pointer;
}
