* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

html {
	font-size: @fontSizeBase;
	color: @fontColour;
}

body {
	background-color: @backgroundColour;
}

h1 {
	font-size: @fontSizeH1;
}

.banner {
	text-align: center;
	margin-top: 1em;
	
	.banner-image {
		width: 15em;
	}

	.banner-header {
		margin-top: 1em;
		background: @contrastBackgroundColour;
		color: @contrastFontColour;
		padding: 0.5em;
		border-bottom: 0.5em solid;
		border-top: 0.5em solid;
		border-color: @canavansGreen;

		.banner-title {

		}
		.banner-subtitle {

		}
	}
}

.main {	
	margin-top: 1em;
}

.footer {
	margin-top: 1em;
	padding: 1em 0;
	text-align: center;
	clear: both;
	background-color: @contrastBackgroundColour;
	color: @contrastFontColour;
	border-top: 0.5em solid @canavansGreen;
}