* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: @fontSizeBase;
	color: @fontColour;
}

body {
	background-color: @backgroundColour;
}

h1 {
	font-size: @fontSizeH1;
}

.banner {
	text-align: center;
	padding: 1em 0;
	border-bottom: 1px solid @footerColour;
	margin-bottom: 1em;

	.banner-image {
		width: 15em;

	}

	.banner-header {
		margin-bottom: 0.25em;
	}

	.banner-header, .banner-subtitle {
		margin: 0 0.5em;
	}
}

.main {	
	
}

.footer {
	margin-top: 1em;
	padding: 1em 0;
	text-align: center;
	clear: both;
	background-color: #696969;
	color: @backgroundColour;
}