.soundboard {
	padding: 0 0.5em;
}

.soundboard-item {
	padding:1%;
	min-width: 130px;
	width: 31%;	
	height: 5em;
	text-align: center;
	display: inline-block;

	.responsive(@bp-med, {
		width: 23%;
	});

	.responsive(@bp-large, {
		width: 12%;
	});

	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}