.soundboard {

}

.soundboard-item {
	display: inline-block;
	width: 33%;
	text-align: center;
	padding-bottom: 5%;

	.responsive(@bp-med, {
		width: 25%;
	});

	.responsive(@bp-large, {
		width: 10%;
	});
}